@charset "UTF-8";

body {
  color: #000000;
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,li { margin-left: 12px; margin-top: 0; }

#wrapper { width: 100%; background-color: #FFFFFF; }

header {
  color: #FFFFFF;
  padding: 12px 12px 0 12px;
  background: #0800E0;
  background: -moz-linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
  background: -webkit-linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
  background: -o-linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
  background: linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
}


nav .button {
  display: block;
  width: 85%;
  text-decoration: none;
  font-size: x-large;
  background-color: #ADEAEA;
  color: #000000;
  padding: 12px;
  margin: 8px auto 12px auto;
  border-radius: 16px;
  box-shadow: 5px 5px 3px rgba(0,0,0,.35);
}
.clear { clear: both; }


.gradient-straight {
  background: #67E5DB;
  background: -moz-linear-gradient(top, #67E5DB 0%, #ADEAEA 100%);
  background: -webkit-linear-gradient(top, #67E5DB 0%, #ADEAEA 100%);
  background: -o-linear-gradient(top, #67E5DB 0%, #ADEAEA 100%);
  background: linear-gradient(to bottom, #67E5DB 0%, #ADEAEA 100%);
  padding: 12px 0 20px 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.feature-img { width: 90%; height: auto; border: 2px solid #000000; }

.project {
  display: block;
  width: 90%;
  margin: 10px auto;
  background-color: #F7FFFF;
  border: 1px solid #ADEAEA;
}

video { width: 90%; display: block; margin: 10px auto; background-color:#000; border:2px solid #FFF; box-shadow: 6px 6px 4px #000; }

input, textarea { width: 90%; max-width: 480px; }

footer { background-color: #000000; color: #FFFFFF; padding: 12px 0 18px 0; text-align:left; }
footer a { color: #67E5DB; }

