@charset "UTF-8";

body {
  color: #000000;
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,li { margin-left: 15px; margin-top: 0; }

#wrapper { width: 100%; margin: 0 auto; background-color: #FFFFFF; }

header {
  color: #FFFFFF;
  padding: 16px 16px 0 16px;
  background: #0800E0;
  background: -moz-linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
  background: -webkit-linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
  background: -o-linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
  background: linear-gradient(45deg, #0800E0 0%, #67E5DB 100%);
}

nav .button {
  display: block;
  width: 45%;
  float: left;
  text-decoration: none;
  font-size: x-large;
  background-color: #ADEAEA;
  color: #000000;
  padding: 10px;
  margin: 8px 8px 16px 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px gray;
}
nav .button:hover { box-shadow: 5px 5px 3px black; }
.clear { clear: both; }

.gradient-straight {
  background: #67E5DB;
  background: -moz-linear-gradient(top, #67E5DB 0%, #ADEAEA 100%);
  background: -webkit-linear-gradient(top, #67E5DB 0%, #ADEAEA 100%);
  background: -o-linear-gradient(top, #67E5DB 0%, #ADEAEA 100%);
  background: linear-gradient(to bottom, #67E5DB 0%, #ADEAEA 100%);
  padding: 16px 0 24px 0;
  border: 2px solid #000000;
}

.feature-img { max-width: 90%; height: auto; border: 2px solid #000000; }


.project {
  display: inline-block;
  width: 45%;
  min-height: 120px;
  margin: 10px 15px;
  background-color: #F7FFFF;
  border: 1px solid #ADEAEA;
}

video { width: 90%; max-width: 520px; margin: 10px 15px; background-color:#000; border:2px solid #FFF; box-shadow: 10px 10px 5px #000; }

footer { background-color: #000000; color: #FFFFFF; padding: 12px 0 20px 0; }
footer a { color: #67E5DB; }

